body {
    background-color: rgba(47, 224, 255, 0.719);
    font-size: 1em;
}

#params-box {
    padding: 5px;
    border: 3px ridge rgba(133, 133, 127, 0.877);
    /*https://www.w3schools.com/css/css3_borders.asp*/
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: inline-flexbox;
}

#boundaries-container {
    display: flex;
    align-content: space-around;
}

hr {
    border-color: rgba(70, 70, 70, 0.877); /* this actually changes the line itself */
}

#vr {
    margin-left: 1.00em;
    margin-right: 1.00em;
}

.row {
    display: flex;
    padding: 15px;
}

.column {
    flex: 50%;
}

.tricolumn {
    flex: 33%;
}

.quadcolumn {
    flex: 25%;
}

/* input {
    width: 10%;
} */

select {
    width: 30%;
    font-family: 'Jura', sans-serif;
}

button {
    margin-top: 8px;
    margin-bottom: 8px;
    color: whitesmoke;
    background-color: rgb(139, 137, 136);
    border-radius: 5px;
    transition-duration: 350ms;
}

button:hover {
    color: rgb(139,137,136);
    background-color: whitesmoke;
}

button:active {
    background-color: red;
}

h1 {
    /* font-family: "Copperplate"; */
    font-family: 'Audiowide';
}

button {
    font-family: 'Montserrat Alternates', sans-serif;
}

label {
    font-family: 'Jura', sans-serif;
}

label.sublabel {
    font-family: 'Jura', sans-serif;
    color: rgb(169, 169, 169);
    font-size: 0.85em;
}

 inpxut {
    font-family: 'Jura', sans-serif;
 }

 pre {
     white-space: pre-wrap; /* causes text to wrap to next line */
 }

 pre.info {
    margin-top: 3px;
 }

 .toggle-info-btn {
    background-color: rgba(69, 69, 69, 0.0);
    color: black;
    border: none;
    outline: none;
    margin-top: 3px;
}