body {
    background-color: rgba(47, 224, 255, 0.719);
}

#params-box {
    border: 3px ridge rgba(133, 133, 127, 0.877);
    /*https://www.w3schools.com/css/css3_borders.asp*/
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: inline-flexbox;
}

hr {
    color:rgba(70, 70, 70, 0.877)
}

.row {
    display: flex;
    padding: 15px;
}

.column {
    flex: 50%;
}

.tricolumn {
    flex: 33%;
}

.quadcolumn {
    flex: 25%;
}

/* input {
    width: 10%;
} */

select {
    width: 30%;
    font-family: 'Jura', sans-serif;
}

button {
    margin-top: 8px;
    margin-bottom: 8px;
    color: whitesmoke;
    background-color: rgb(139, 137, 136);
    border-radius: 5px;
    transition-duration: 350ms;
}

button:hover {
    color: rgb(139,137,136);
    background-color: whitesmoke;
}

button:active {
    background-color: red;
}

h1 {
    /* font-family: "Copperplate"; */
    font-family: 'Audiowide';
}

button {
    font-family: 'Montserrat Alternates', sans-serif;
}

label {
    font-family: 'Jura', sans-serif;
}
 input {
    font-family: 'Jura', sans-serif;
 }

 pre {
     white-space: pre-wrap; /* causes text to wrap to next line */
 }